/* Feed Screen Styles */
.feed-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* Fill the available space */
}

.video-feed {
  width: 100%;
  /* Relies on App width */
  height: 95vh;
  /* 95% of viewport height */
  display: flex;
  flex-direction: column;
  gap: 0;
  /* Remove gap for continuous feed */
  scroll-snap-type: y mandatory;
  /* Enable smooth scrolling behavior */
  overflow-y: auto;
  /* Enable vertical scrolling (auto instead of scroll) */
  scroll-behavior: smooth;
  /* Smooth scrolling */
  margin: 0 auto;
  /* Center the feed */
}