/* Tab Navigator Styles */
.tab-navigator {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take remaining space */
  overflow: hidden; /* Contain content */
}

.tab-content {
  flex: 1; /* Take remaining space */
  overflow: hidden; /* Hide overflow as feed handles its own scrolling */
  position: relative; /* For proper positioning */
}

/* Tab Bar Styles */
.tab-bar {
  position: fixed; /* Fixed position to always be visible at bottom */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the tab bar */
  width: calc(90vh * 9 / 16); /* Match the app width */
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  border-top: 0.2% solid #e0e0e0;
  padding: 1.5% 0;
  z-index: 1000; /* Higher z-index to ensure it's on top */
}

.tab-button {
  flex: 1;
  padding: 1.8% 0;
  border: none;
  background: none;
  font-size: 2.4vw;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
  max-width: 50%;
}

.tab-button.active {
  color: #282c34;
  font-weight: bold;
  position: relative;
}

.tab-button.active::after {
  content: '';
  position: absolute;
  bottom: -1.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 4%;
  height: 0.45%;
  background-color: #282c34;
  border-radius: 0.3%;
}